.sidebar  {
    flex: 0.3;
	max-width: 260px;
	padding-bottom: 60px;
	background-color: var(--slack-color);
	border-top: 1px solid var(--slack-color-light);
	color: var(--white-color);
	overflow-y: auto;
	overflow-x: hidden;
}
.sidebar::-webkit-scrollbar {
    width: 0.5em;
  }
   
.sidebar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
.sidebar::-webkit-scrollbar-thumb {
    background-color: #29012a;
    outline: 1px solid slategrey;
  }

.sidebar hr {
	margin: 10px 0;
	border: 1px solid var(--slack-color-light);
	border-top: none;
	border-right: none;
	border-left: none;
}

.sidebar-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid var(--slack-color-light);
}

.sidebar-header > .MuiSvgIcon-root {
	padding: 8px;
	color: var(--slack-color-light);
	font-size: 18px;
	background-color: var(--white-color);
	border-radius: 50%;
}

.sidebar-info {
	flex: 1;
}

.sidebar-info > h2 {
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 15px;
}

.sidebar-info > h3 {
	display: flex;
	align-items: center;
}
.sidebar-info > h3 > .MuiSvgIcon-root {
	font-size: 14px;
	margin-right: 5px;
	color: green;
}